/bin/
chatClientLog.log
*.log
src/BD/BaseDeDatos.class
src/BD/COLS.class
src/BD/TABLES.class
*.xml
src/.classpath
src/tiendaLog.xml
src/tienda.db
*.xml
src/.classpath
*.db
*.xml
src/.classpath
*.db
*.xml
*.dat
*.db
*.db
*.lck
