/bin/
chatClientLog.log
*.log
src/BD/BaseDeDatos.class
src/BD/COLS.class
src/BD/TABLES.class
*.xml
src/.classpath
src/tiendaLog.xml
src/tienda.db
*.xml
src/.classpath
*.db
*.xml
src/.classpath
*.db
*.xml
*.dat
*.db
*.db
*.lck
src/tiendaLog.xml
src/tiendaLog.xml
src/tiendaLog.xml.8
src/tiendaLog.xml.1
src/tiendaLog.xml.2
src/tiendaLog.xml.3
src/tiendaLog.xml.4
src/tiendaLog.xml.5
src/tiendaLog.xml.6
src/tiendaLog.xml.7
src/.classpath
src/.classpath
*.xml
*.db
*.xml
*.xml
*.db
*.db
*.xml
*.db
*.xml
*.db
*.xml
*.db
*.xml
*.db
*.xml
*.db
*.xml
src/tiendaLog.xml
src/.classpath
src/tienda.db
src/tiendaLog.xml
